{{>header}}
{{>navbar}} <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row">
                    <!-- LEft header -->
                    <div class="col-md-6 col-12 main_header_left align-items-center"> 
                      <figure>
                        <img src="./images/about.png" class="img-fluid" alt="About Image">
                      </figure>
                    </div>
                    <!-- Right Header -->
                    <div class="col-md-6 col-12 main_header_right">
                      <h1>{{intro}}</h1>
                      <h1>I am a <span class="text-clr">Mern Stack Developer</span> and a <span class="text-clr">{{skill}}</span></h1>
                      <a href="https://www.github.com/potatooBot"> <button id="btn"> Check Now</button></a>


                    </div>
                </div>

            </div>
        </div>
    </div>
    {{>footer}}