 <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row">
                    <!-- LEft header -->
                    <div class="col-md-6 col-12 main_header_left align-items-center"> 
                      <figure>
                        <img src="../../public/images/about.png" alt="About Image">
                      </figure>
                    </div>
                    <!-- Right Header -->
                    <div class="col-md-6 col-12 main_header_right">
                      <p>Welcome to Weather App</p>
                      <h1>I am a <span class="text-clr">Mern Stack Developer.</span>Welcome</h1>
                      <a href="https://www.github.com/potatooBot"> <button id="btn"> Check Now</button> </a>


                    </div>
                </div>

            </div>
        </div>
    </div>